<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Rate-It!</h1>
        <p><b>Welcome to the Rate-It</b> - Nice way to find reviews and share your own opinion about anything!</p>
    </div>
    <div class="page-header">
        <img id="logo" src="../images/logo.jpg" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
        <h1>Rate the product or service</h1>
    </div>

    <div>
        <p>Use the navigation bar to select action. You can:</p>
        <ul>
            <li>write a new review by clicking the <b>Write</b></li>
            <li>read all the other reviews by clicking the <b>Read</b></li>
        </ul>
    </div>

</div>

