<div class="container theme-showcase" role="main">
    <br><br><br>
    <div class="page-header">
        <h1>Read reviews</h1>
    </div>
    <div>
        <!--p ng-show='products.length === 0'>There are no products. Please add some product!</p-->
        <table class='table table-striped'> <!--ng-show='products.length > 0'-->
            <thread>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Product</th>
                    <th>Purchased from</th>
                    <th>Purchase date</th>
                    <th>Rate</th>
                    <th>Opinion</th>
                    <th>Action</th>
                </tr>
            </thread>
            <tbody>
                <!--check if there are still products left-->
                <tr ng-repeat='product in products'>
                    <td>{{$index+1}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.item}}</td>
                    <td>{{product.from}}</td>
                    <td>{{product.date}}</td>
                    <td>{{product.rate}}</td>
                    <td>{{product.opinion}}</td>
                    <td>
                        <img src="../images/update.png" ng-click="updateProduct($index)" width="15">
                        <img src="../images/delete.png" ng-click="deleteProduct($index)" width="15">
                    </td2
                </tr2
            </tbody>
        </table>
    </div>
</div>